#header{
    color: white;
    background-color: gray;
    text-align: center;
    font-size: 3em;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Righteous', cursive;
    margin-top: 15px;
    padding: 15px;
}

body{
    background-color: black;
    background-image: url(/images/stars.jpg);
}

table{
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th, td{
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer{
    margin-top: 100px;
    color: white;
}

a{
    color: orange;
}